name: pull_request
on: [pull_request]
jobs:
  run_tests_and_lint:
    name: "Run Tests and Lint"
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running build and test for ${{ github.ref }} branch"

      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --dev

      - name: Running Lint
        run: uv run --with ruff ruff check .

      - name: Running tests
        run: uv run --with pytest --with pytest-cov pytest --cov-report=term --cov .
